@import "../../../../../dist/css/variaveis.css";

section {
    width: 100%;
    min-height: 250px;
    background: var(--secundary-background-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    margin-top: 20px;

}

.loading {
    background-image: url("../../../../../assets/bg-task.png");
    background-repeat: no-repeat;
    background-position: center 30px;
}
