<section>

    <ul>
        <li>
            <input class="check" type="checkbox">
            <input class="text" type="text">

            <button>
                <img src="assets/icon-trash.svg" alt="icon-trash">
            </button>
        </li>
        <li>
            <input class="check" type="checkbox">
            <input class="text checked" type="text">

            <button>
                <img src="assets/icon-trash.svg" alt="icon-trash">
            </button>
        </li>
    </ul>

</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all></app-todo-button-delete-all>